body {
    background-color:#F6F6F6;

}

.auth-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 40px 24px; */
    gap: 20px;

    position: absolute;
    width: 400px;
    height: 464px;
    left: 760px;
    top: 308px;

    /* Gray / White */

    background: #FFFFFF;
    /* Elevation / Lv2 */

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
}

.auth-window img {
    margin-top: 40px;
}
.maintext {
    /* Войдите в игру */
    width: 352px;
    text-align: center;
    height: 36px;

}
.maintext h1{
    margin:0 auto;
    /* Headers / H1 – bold */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */

    display: block;
    align-items: center;
    text-align: center;

    /* Gray / 700 */
    color: #373745;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    font-weight: bold;
}

.form {
    margin-top: 12px;
    /* Textfield */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 20px;
    gap: 8px;
    width: 352px;
    height: 48px;
    /* Gray / White */
    background: #FFFFFF;
    /* Gray / 100 */
    border: 1px solid #DCDCDF;
    border-radius: 12px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    /* Text */
    /* Body / 16px regular */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 0.24px;
    color: #B1B1B7;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}
.btn-main {
    /* Primary-button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;

gap: 8px;
width: 352px;
height: 48px;
background: rgba(96, 194, 170, 0.3);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;

/* label */
/* Body / 16px medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.24px;
/* Gray / White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

/* field */

.header {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
    position: absolute;
    width: 1920px;
    height: 64px;
    left: 0px;
    top: 0px;

    /* Gray / White */
    background: #FFFFFF;
    /* Elevation/Lv1 */
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
}

.header a {
/* Body / 16px medium */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 0.24px;
    /* Gray / 700 */
    color: #373745;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.links {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 707px;
    height: 32px;
    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
    text-align: center;
    align-items:center;
    justify-content: center;
}
.links a {
    padding: 4px 12px;
}
.chosenpage{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;

    height: 32px;
    background: #60C2AA;
    border-radius: 200px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: center;
    /* Body / 16px medium */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 0.24px;
    /* Gray / White */
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    justify-content: center;
}

.gamers {
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 24px;
position: absolute;
width: 500px;
height: 224px;
left: 40px;
top: 124px;
/* Gray / White */
background: #FFFFFF;
/* Elevation / Lv2 */
box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
border-radius: 20px;
}

.gamer{
    /* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 452px;
height: 48px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.gamers h1{
    width: 82px;
    height: 36px;

/* Headers / H1 – bold */

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 150%;
/* identical to box height, or 36px */

display: flex;
align-items: center;
text-align: center;

/* Gray / 700 */

color: #373745;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.gamertext {
width: 327px;
height: 24px;
/* headers / H2 – regular */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.15px;
/* Gray / 700 */
color: #373745;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.gamerlowertext {
    width: 72px;
height: 20px;

/* Body / 14px regular */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.25px;

/* Gray / 400 */

color: #898993;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.text {
    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    
    width: 327px;
    height: 48px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.timer {
    /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
margin-left:30px;
position: absolute;
width: 139px;
height: 88px;
left: 891px;
top: 124px;

background: #EDEDED;
border-radius: 12px;
text-align: center;
align-items: center;
justify-content: center;

}
.timertxt {
    /* Headers / Jumbo – black */
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 34px;
line-height: 40px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.25px;
/* Gray / 700 */
color: #373745;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
justify-content: center;

}

.game-field {
    
/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 4px;

position: absolute;
width: 663px;
height: 663px;
left: 629px;
top: 252px;

/* Elevation / Lv2 */

filter: drop-shadow(0px 4px 20px rgba(44, 57, 121, 0.09));
}

.col {
/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 218.33px;
height: 663px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
margin-right:21px;

}

.cell {
    /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;
gap: 10px;

width: 219.33px;
height: 218.33px;

/* Gray / White */

background: #FFFFFF;
border-radius: 12px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}

.cell img {
    /* zero */
width: 154.33px;
height: 154.33px;

filter: drop-shadow(1px 1px 12px rgba(107, 74, 86, 0.2));

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
margin-left: 32.25px;
margin-right: 34.25px;
}


.chat {
/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

position: absolute;
width: 412px;
height: 452px;
right: 40px;
bottom: 165px;
}
.bubble {
    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    

    height: 76px;
    
    /* Gray / White */
    
    background: #FFFFFF;
    /* Elevation/Lv1 */
    
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 16px 16px 16px 0px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;}

    .row1{
        /* Auto layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 328px;
height: 20px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
    }

.row_name {/* Auto layout */

    width: 149px;
    height: 20px;
    
    /* Body / 14px medium */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    
    color: #60C2AA;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;}

.row_time {
    
width: 36px;
height: 20px;

/* Body / 14px regular */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

display: flex;
align-items: center;
letter-spacing: 0.25px;

/* Gray / 400 */

color: #898993;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.bubble p{/* Отойду пока кофе попить, напиши в тг как сходишь */


    width: 328px;
    height: 24px;
    
    /* Body / 16px regular */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.24px;
    
    /* Gray / 700 */
    
    color: #373745;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;}

.row2{
    /* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 8px;

width: 356px;
height: 184px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.bubble2{
    
/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;
gap: 8px;
margin-left:60px;
height: 100px;

/* Gray / White */

background: #FFFFFF;
/* Elevation/Lv1 */

box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
border-radius: 16px 16px 0px 16px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.row_name2 {
    width: 112px;
height: 20px;

/* Body / 14px medium */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

display: flex;
align-items: center;
letter-spacing: 0.25px;

color: #E38BAC;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.bubble2 p{
    /* Отойду пока кофе попить, напиши в тг как сходишь */


width: 328px;
height: 48px;

/* Body / 16px regular */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

display: flex;
align-items: center;
letter-spacing: 0.24px;

/* Gray / 700 */

color: #373745;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.bubble3 {
    /* bubble */

margin-top:8px;
/* Auto layout */
margin-left:60px;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px;
gap: 8px;

width: 352px;
height: 76px;

/* Gray / White */

background: #FFFFFF;
/* Elevation/Lv1 */

box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
border-radius: 16px 16px 0px 16px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.chat-input {
    /* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 412px;
height: 48px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
/* Body / 16px regular */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
letter-spacing: 0.24px;

color: #B1B1B7;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}

.textfield {
    /* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
gap: 8px;

width: 352px;
height: 48px;

/* Gray / White */

background: #FFFFFF;
/* Gray / 100 */

border: 1px solid #DCDCDF;
border-radius: 12px;
text-indent: 20px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;


}
.primary-button {
/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
gap: 8px;

width: 48px;
height: 48px;

background: #60C2AA;
border-radius: 12px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}   

.step {
    /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;

gap: 24px;

position: absolute;
width: 400px;
height: 48px;
left: 760px;
top: 955px;

/* Gray / 700

Text
*/
background: #373745;
/* Elevation / Lv2 */

box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
border-radius: 12px;
margin-top:40px;
margin-left:25px;
}

.gamerstep {
    /* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;

gap: 12px;
height:48px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
justify-content: center;

}

.gamerleft {
    /* Auto layout */
    height:48px;
display: flex;
flex-direction: row;
align-items: flex-start;

gap: 12px;




/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;


/* Headers / H2 – regular */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.15px;

/* Gray / White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.ratingtable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 24px;

    position: absolute;
    width: 1026px;
    left: calc(50% - 1026px/2);
    top: 144px;
    bottom: 80px;

    /* Gray / White */

    background: #FFFFFF;
    /* Elevation / Lv2 */

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
}

.bodytext {
    /* Рейтинг игроков */
    width: 189px;
    height: 36px;
    /* Headers / H1 – bold */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
    display: flex;
    align-items: center;
    text-align: center;
    /* Gray / 700 */
    color: #373745;
}

.tabletext {
    /* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;

gap: 16px;

width: 962px;
height: 48px;

/* Gray / White */

background: #FFFFFF;
/* Border / Bottom */

box-shadow: inset 0px -1px 0px #EEEFF5;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.cell1{
    /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 10px;

width: 440px;
height: 40px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
}

.cell2 {
    /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 10px;

width: 108px;
height: 40px;
color: #373745;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #373745;
}

.cell3 {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 10px;

width: 108px;
height: 40px;
color: #373745;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #69B849;
}
.cell4 {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 10px;

width: 108px;
height: 40px;
color: #373745;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #E93E3E;
}

.cell5{
        /* Auto layout */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 10px;
    
    width: 440px;
    height: 40px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.cell6 {
        /* Auto layout */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 10px;
    
    width: 108px;
    height: 40px;
    color: #373745;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #373745;
}